.Agreement-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

.logo-container {
    margin-left: 15px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    }

    .logo-container-1 {
        margin-left: 9px;
    }
    

.division-line {
    border-top: 1px solid #E7E6E6;
    margin: 12px 0px;
}

.box {
    width: 700px;
    height: 370px;
    border: 2px solid #E7E6E6;
    /* margin-left: 380px; */
    margin-top: 30px;
}

.border1{
    display: flex;
    align-items: center;
    width: 407px;
    height: 40px;
    margin-top: 50px;
    margin-bottom: 100px;
    border: 1px solid #BF5E49;
    border-radius: 15px;
  }