.damnlist p {
    font-family: 'GmarketSans', sans-bold;
    font-size: 26px; 
    font-weight: bold; 
  }

  .damnlist {
    display: flex; 
    align-items: center; 
    justify-content: space-between;
  }
  
  .content-wrapper {
    display: flex; 
    align-items: center; 
    margin-top: 60px;
    margin-left: 120px;
  }

  .content-wrapper p {
    margin: 0 1000px 0 0; /* Added margin to the paragraph */
  }
  
  .content-wrapper button {
    margin-left: 20px; /* Added margin to the button */
    margin-top: 50px;
    
  }

  .filtering {
    margin-left: 100px;
  }

  .rounded-rectangle {
    width: 1150px;
    height: 200px; 
    margin-top: 40px;
    margin-left: 300px;
    border-radius: 20px; 
    align-items: center;
    border: 2px solid #E2E2E2;
    font-family: "Inter";
}

  .brown-line1 {
    height: 1px;
    background-color: brown;
    margin-top: 60px;
    margin-left: 150px; /* Adjust the left and right margin as needed */
    margin-right: 150px;
  }

  .selectoption {
    margin-left: 100px;
  }

  .listcount {
    margin-top: 60px;
    margin-left: 150px;
  }

  .damnlistcount {
    display: flex; 
    align-items: center; 
  }

  .damnlistcount p {
    font-family: 'GmarketSans', sans-bold;
    font-size: 18px;
    margin-top: 60px;
    margin-left: 200px;
  }

  .damnlistwrite {
    margin-left: 1500px;
    margin-top: 50px;
  }